To use this client using the server's login page,
%a{:href => '/account'}
  click here
<br /><br />
To collect the login name and password in the client and authenticate with the server,
%a{:href => '/login'}
  click here